<!DOCTYPE html>
<!--[if IE 7]><html class="ie7 ie_old" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie8 ie_old" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>{{title}} | {{attribution}}</title>
  <link href="stylesheets/styles.css" rel="stylesheet" />

</head>
