{{> partials/_header }}

<body dir="ltr" class="preload">

  {{> handlebars/_wvu-masthead }}

  <div class="container">

    <h1>{{content_example}}</h1>

  </div>

  {{> handlebars/_wvu-footer }}

  {{> partials/_ga }}

</body>
</html>
